@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  @apply cursor-pointer text-icons;
}

.no-cursor * {
  cursor: not-allowed !important;
}

.spin {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
