@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
  @apply cursor-pointer text-gray-600;
}

.no-cursor * {
  cursor: not-allowed !important;
}

.spin {
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.descText {
  @apply hidden px-4 py-1 text-sm text-white duration-75 bg-gray-500 rounded-full group-hover:block;
}

.shadow {
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.7));
}
